<div class="home-container">

  <p class="title">Game of the week</p>
  <!-- Banner Section -->
  <div class="banner-section" *ngIf="banner() && !loading()">
    <div class="banner" (click)="navigateToSales()" style="cursor: pointer;">
      <img [src]="banner().image" [alt]="banner().title">
    </div>
  </div>

  <!-- Loading State -->
  <div class="loading" *ngIf="loading()">
    <p>Loading...</p>
  </div>

  <!-- Games List Section -->
  <app-games-list [games]="gamesWithUserData()" [user]="user()" *ngIf="!loading()"></app-games-list>
</div>
