/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Segoe UI', 'Open Sans', 'Roboto', Arial, sans-serif;
  background: #cbc9c9;
  color: #222;
  padding: 0;
  margin: 0;
}
